<!-- wp:template-part {"slug":"header","theme":"leadwerk_theme"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main id="main" class="wp-block-group">
	<!-- wp:heading {"textAlign":"center","level":1} -->
	<h1 class="wp-block-heading has-text-align-center">Seite nicht gefunden</h1>
	<!-- /wp:heading -->
	<!-- wp:paragraph {"align":"center"} -->
	<p class="has-text-align-center">Die angeforderte Seite existiert nicht.</p>
	<!-- /wp:paragraph -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"leadwerk_theme"} /-->
