<!-- wp:template-part {"slug":"header","theme":"leadwerk_theme","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"leadwerk-front-main","layout":{"type":"default"},"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"margin":{"top":"0","bottom":"0"}}}} -->
<main id="main" class="wp-block-group leadwerk-front-main" style="padding:0;margin:0">
	<!-- wp:acf/cafee-home-sections /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"leadwerk_theme","tagName":"footer"} /-->
